In [1]:
%load_ext lab_black

In [2]:
import cx_Oracle

In [10]:
from pathlib import Path

In [11]:
db = MCSDB()

In [12]:
db.url

'mcs_user/abcd1234@dmz-oracle-db-mcs-vm.pdmz.lasp.colorado.edu:1521/mcs-db'

In [8]:
db.test_call()

,NLIMB,NNADIR,TNADIR,OBSDATE,OBSTIME,SCLK,LS,LOCALTIME,SZA,SOLARLATITUDE,...,DUST_ERR,H2OICE,H2OICE_ERR,H2OVAP,H2OVAP_ERR,CO2ICE,CO2ICE_ERR,ALTITUDE,LATITUDE,LONGITUDE
0,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
1,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
2,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
3,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
4,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,99.051,47.021,-96.582
101,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,100.083,46.971,-96.571
102,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,101.116,46.921,-96.560
103,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,102.149,46.871,-96.549
104,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,103.183,46.820,-96.538

In [115]:
db.get_cols_by_date(["PRESSURE", "temperature"], "20070101")

Sending this request:
select PRESSURE,temperature from mcs_data_2d where obsdate = 20070101

           PRESSURE  TEMPERATURE
0       1878.932000          NaN
1       1658.152000          NaN
2       1463.314000          NaN
3       1291.370000          NaN
4       1139.630000          NaN
...             ...          ...
265330     0.007002          NaN
265331     0.006179          NaN
265332     0.005453          NaN
265333     0.004812          NaN
265334     0.004247          NaN

[265335 rows x 2 columns]

In [5]:
db.get_data_by_dict(db.example_dict)

,NLIMB,NNADIR,TNADIR,OBSDATE,OBSTIME,SCLK,LS,LOCALTIME,SZA,SOLARLATITUDE,...,DUST_ERR,H2OICE,H2OICE_ERR,H2OVAP,H2OVAP_ERR,CO2ICE,CO2ICE_ERR,ALTITUDE,LATITUDE,LONGITUDE
0,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
1,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
2,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
3,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
4,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,99.051,47.021,-96.582
101,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,100.083,46.971,-96.571
102,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,101.116,46.921,-96.560
103,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,102.149,46.871,-96.549
104,5,2,4,20070101,14486.727,8.520913e+08,159.47,0.63732,57.859,8.584,...,NaN,NaN,NaN,None,None,None,None,103.183,46.820,-96.538

In [25]:
df = db.get_by_date("20070101")

Sending this request:
select * from mcs_data_2d where obsdate = 20070101

In [87]:
df.columns

Index(['NLIMB', 'NNADIR', 'TNADIR', 'OBSDATE', 'OBSTIME', 'SCLK', 'LS',
       'LOCALTIME', 'SZA', 'SOLARLATITUDE', 'SOLARLONGITUDE', 'ELEVATION',
       'AZIMUTH', 'SPACECRAFTLATITUDE', 'SPACECRAFTLONGITUDE',
       'SPACECRAFTRADIUS', 'LIMBANGLE', 'SCENELATITUDE', 'SCENELONGITUDE',
       'SCENERADIUS', 'SCENEALTITUDE', 'NADIRDATE', 'NADIRTIME', 'NADIRSCLK',
       'NADIRLS', 'NADIRLOCALTIME', 'NADIRSZA', 'NADIRSOLARLAT',
       'NADIRSOLARLON', 'NADIRELEVATION', 'NADIRAZIMUTH', 'NADIRSCLATITUDE',
       'NADIRSCLONGITUDE', 'NADIRSCRADIUS', 'NADIRROTATIONANGLE',
       'NADIRLATITUDE', 'NADIRLONGITUDE', 'NADIRRADIUS', 'NADIRALTITUDE',
       'SCENESURFACERADIUS', 'SCENEAREOIDRADIUS', 'MARSRADIUS',
       'DUST_463_NAD_OD', 'DUST_463_NAD_OD_ERR', 'H2OICE_843_NAD_OD',
       'H2OICE_843_NAD_OD_ERR', 'H2OCOLUMN', 'H2OCOLUMNERROR',
       'CO2ICE_XXX_NAD_OD', 'CO2ICE_XXX_NAD_OD_ERR', 'SURFACETEMPERATURE',
       'SURFACETERROR', 'SURFACETGUESS', 'NEARSURFACET', 'NEARSURFACETERROR',
       'NEARSURFACETGUESS', 'SURFACEPRESSURE', 'SURFACEPUNCERTAINTY',
       'SURFACEPGUESS', 'RETRIEVEDPALTITUDE', 'RETRIEVEDPRESSURE',
       'RETRIEVEDPERROR', 'ALTSURFACETA1', 'ALTSURFTA1ERROR', 'ALTSURFACETA4',
       'ALTSURFTA4ERROR', 'ALTSURFACETA5', 'ALTSURFTA5ERROR', 'H2OINTCOLUMN',
       'H2OSATALTITUDE', 'PARAMETERA', 'PARAMETERB', 'PARAMETERC',
       'PARAMETERD', 'PRESSUREQUAL', 'TEMPERATUREQUAL', 'DUSTQUAL',
       'H2OICEQUAL', 'H2OQUAL', 'CO2ICEQUAL', 'RETRIEVALQUAL', 'FILENAME',
       'ROW_NUM', 'PRESSURE', 'TEMPERATURE', 'TEMP_ERR', 'DUST', 'DUST_ERR',
       'H2OICE', 'H2OICE_ERR', 'H2OVAP', 'H2OVAP_ERR', 'CO2ICE', 'CO2ICE_ERR',
       'ALTITUDE', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [108]:
sql = """
select temperature, dust, latitude, longitude, obsdate
from mcs_data_2d
where pressure between 45 and 55
and obsdate between 20080830 and 20080920
"""

In [109]:
df = db.(sql)
df

AttributeError: 'MCSDB' object has no attribute 'send_sql'

In [88]:
cols = [
    "PRESSURE",
    "TEMPERATURE",
    "TEMP_ERR",
    "DUST",
    "DUST_ERR",
    "H2OICE",
    "H2OICE_ERR",
    "H2OVAP",
    "H2OVAP_ERR",
    "CO2ICE",
    "CO2ICE_ERR",
    "ALTITUDE",
    "LATITUDE",
    "LONGITUDE",
]

In [89]:
",".join(cols)

'PRESSURE,TEMPERATURE,TEMP_ERR,DUST,DUST_ERR,H2OICE,H2OICE_ERR,H2OVAP,H2OVAP_ERR,CO2ICE,CO2ICE_ERR,ALTITUDE,LATITUDE,LONGITUDE'

In [7]:
df.LOCALTIME.describe()

count    105.00000
mean       0.63732
std        0.00000
min        0.63732
25%        0.63732
50%        0.63732
75%        0.63732
max        0.63732
Name: LOCALTIME, dtype: float64

In [8]:
df.columns

Index(['NLIMB', 'NNADIR', 'TNADIR', 'OBSDATE', 'OBSTIME', 'SCLK', 'LS',
       'LOCALTIME', 'SZA', 'SOLARLATITUDE', 'SOLARLONGITUDE', 'ELEVATION',
       'AZIMUTH', 'SPACECRAFTLATITUDE', 'SPACECRAFTLONGITUDE',
       'SPACECRAFTRADIUS', 'LIMBANGLE', 'SCENELATITUDE', 'SCENELONGITUDE',
       'SCENERADIUS', 'SCENEALTITUDE', 'NADIRDATE', 'NADIRTIME', 'NADIRSCLK',
       'NADIRLS', 'NADIRLOCALTIME', 'NADIRSZA', 'NADIRSOLARLAT',
       'NADIRSOLARLON', 'NADIRELEVATION', 'NADIRAZIMUTH', 'NADIRSCLATITUDE',
       'NADIRSCLONGITUDE', 'NADIRSCRADIUS', 'NADIRROTATIONANGLE',
       'NADIRLATITUDE', 'NADIRLONGITUDE', 'NADIRRADIUS', 'NADIRALTITUDE',
       'SCENESURFACERADIUS', 'SCENEAREOIDRADIUS', 'MARSRADIUS',
       'DUST_463_NAD_OD', 'DUST_463_NAD_OD_ERR', 'H2OICE_843_NAD_OD',
       'H2OICE_843_NAD_OD_ERR', 'H2OCOLUMN', 'H2OCOLUMNERROR',
       'CO2ICE_XXX_NAD_OD', 'CO2ICE_XXX_NAD_OD_ERR', 'SURFACETEMPERATURE',
       'SURFACETERROR', 'SURFACETGUESS', 'NEARSURFACET', 'NEARSURFACETERROR',
       'NEARSURFACETGUESS', 'SURFACEPRESSURE', 'SURFACEPUNCERTAINTY',
       'SURFACEPGUESS', 'RETRIEVEDPALTITUDE', 'RETRIEVEDPRESSURE',
       'RETRIEVEDPERROR', 'ALTSURFACETA1', 'ALTSURFTA1ERROR', 'ALTSURFACETA4',
       'ALTSURFTA4ERROR', 'ALTSURFACETA5', 'ALTSURFTA5ERROR', 'H2OINTCOLUMN',
       'H2OSATALTITUDE', 'PARAMETERA', 'PARAMETERB', 'PARAMETERC',
       'PARAMETERD', 'PRESSUREQUAL', 'TEMPERATUREQUAL', 'DUSTQUAL',
       'H2OICEQUAL', 'H2OQUAL', 'CO2ICEQUAL', 'RETRIEVALQUAL', 'FILENAME',
       'ROW_NUM', 'PRESSURE', 'TEMPERATURE', 'TEMP_ERR', 'DUST', 'DUST_ERR',
       'H2OICE', 'H2OICE_ERR', 'H2OVAP', 'H2OVAP_ERR', 'CO2ICE', 'CO2ICE_ERR',
       'ALTITUDE', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [9]:
d = df.describe()

In [10]:
type(d)

pandas.core.frame.DataFrame

In [11]:
d.index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [12]:
d = d.loc[['min', 'max']].T

In [13]:
d['delta'] = d['max'] - d['min']

In [14]:
d[d.delta > 0.1]

                    min       max        delta
ROW_NUM        1.000000   105.000   104.000000
PRESSURE       0.004247  1878.932  1878.927753
TEMPERATURE  150.447000   197.376    46.929000
TEMP_ERR       0.156000     7.828     7.672000
ALTITUDE       0.085000   103.183   103.098000
LATITUDE      46.820000    51.315     4.495000
LONGITUDE    -97.611000   -96.538     1.073000

In [15]:
%matplotlib widget

In [16]:
df.TEMPERATURE.plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …